.home-container{
    position: relative;
    min-height: 100vh;
    padding: 50px 40px;
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-container .logo{
    position: inherit;
    margin-top: -50px;
    height: 520px;
    width: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    user-select: none;
}

.home-container .logo .hover-show{
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    cursor: pointer;
}
.home-container .logo .hover-show.active {
    animation: showspin 8s linear 1s infinite;
}
@keyframes showspin {
      to {
            transform: rotate(360deg);
        }  
}

.home-container .logo .circle{
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
    opacity: 0;
}
.home-container .logo .hover-show.active .circle {
    opacity: 1;
}
.home-container .logo .hover-show.active .circle:nth-child(1) {
    background: url(../../assets/html.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translateY(-210%);
}
.home-container .logo .hover-show.active .circle:nth-child(2) {
    background: url(../../assets/css.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translateX(150%) translateY(-150%);
}
.home-container .logo .hover-show.active .circle:nth-child(3) {
    background: url(../../assets/js.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translateX(210%);
}

.home-container .logo .hover-show.active .circle:nth-child(4) {
    background: url(../../assets/bootstrap.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translateX(150%) translateY(150%);
}
.home-container .logo .hover-show.active .circle:nth-child(5) {
    background: url(../../assets/react.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translateY(210%);
}
.home-container .logo .hover-show.active .circle:nth-child(6) {
    background: url(../../assets/react.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translateX(-150%) translateY(150%);
}
.home-container .logo .hover-show.active .circle:nth-child(7) {
    background: url(../../assets/sap.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translateY(210%);
}
.home-container .logo .hover-show.active .circle:nth-child(8) {
    background: url(../../assets/apirest.png);
    background-size:cover;
    background-position: center;
    position: absolute;
    transform: translateX(-150%) translateY(-150%);
}
.home-container .logo .hover-show.active .circle:nth-child(9) {
    background: url(../../assets/sisteng.jpg);
    background-size:cover;
    background-position: center;
    position: absolute;
    transform:translateX(-210%) translateY(-5%);
}


.home-container img {
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 20px solid rgb(5, 134, 70);
    transform: translate(-200px);
    opacity: 0;
    animation: fade-in 1s ease 1 0.5s forwards;
}

@keyframes fade-in {
    to{
        transform: translate(0);
        opacity: 1;
        }

}
.home-container h2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    margin-top: 50px;
}
.home-container h2 span {
    font-size: 25px;
    opacity: 0.8;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--primary);    
}

.home-container h2 p{
    font-size: 20px;
    opacity: 1;
    font-weight: 100;
    margin-top: 1px;
}
.scroll-down {
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;

}
.scroll-down hr {
    background-color: aquamarine;
    width: 20px;
}

.scroll-down h5 {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 100;
}

.scroll-down .scroll{
    transform: rotate(-90deg);
    font-size: 100;
}