@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@800&display=swap');

* {
margin: 0;
padding: 0%;
box-sizing: border-box;
text-decoration: none;
color: #fff;
z-index: 1;
}
:root {
--phone-width: 100%;
--pc-width: 75%;
--tablet-w: 90%;
--primary: rgb(0, 99, 100);
}
body {
background: #000;
min-height: 100vh;
font-family: 'Inter', sans-serif;
animation: move 1s linear infinite forwards; 
}
html {
scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 0;
}

body::before {
content: '';
position: fixed;
height: 200px;
width: 200px;
background: rgb(0, 99, 45);
filter: blur(130px);
}
body::after {
content: '';
position: fixed;
top:200px;
left:250px;
height: 200px;
width: 200px;
background: rgb(100, 126, 44);
filter:blur(130px)
}

.bg-circle1 {
position: fixed;
top: 0;
right: 0;
height: 200px;
width: 200px;
background:rgb(50, 126,100);
border-radius: 50%;
}
.bg-circle2 {
position: fixed;
bottom: 100px;
right: 250px;
height: 200px;
width: 200px;
background:rgb(99, 238, 189);
}

.container {
width: var(--pc-width);
color: var(--primary);
padding: 10px 40px;
margin: 5px auto;
display: flex;
justify-content: center;
align-items: center;
}
@media (max-width: 500px) {
    .container {
    width: var(--phone-width);
    }
}