.about-container{
position: relative;
display: flex;
justify-content: flex-start;
align-items: start;
min-height: 100vh;
margin-top: 100px;
padding: 50px;
overflow-x: hidden;
backdrop-filter: blur(20px);

}